#schedule-container
    // flex
    display: flex
    flex-wrap: wrap
    justify-content: space-around

    // props
    background-color: green
    padding-right: 5px
    width: fit-content

    .schedule-column
        background: pink
        width: 120px
        margin: 5px 0px 5px 5px
        padding: 5px 5px

        .schedule-item
            background: red
