// propriétées générales

html
    height: 100%
    margin: 0

body,
#root,
.App
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0

// conteneur des colonnes de tâches
#schedule-container
    // flex
    display: flex
    flex-wrap: wrap
    justify-content: space-around

    // props
    background-color: green
    padding-right: 5px
    width: fit-content

    .schedule-column
        background: pink
        width: 120px
        margin: 5px 0px 5px 5px
        padding: 5px 5px

        .schedule-item
            background: red

// navigateur (changer semaine, avance, reculer, etc)
#schedule-navigator
    margin-bottom: 5px

// conteneur pour le fomulaire d'ajout de tache
// - necessaire car c'est une popup.
#addtask-form-container
    form
        input,
        textarea,
        button
            display: block
